body{
    background-color: rgb(169, 218, 218);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#main-text{
    position: absolute;
    top: 100px;
    left: 10px;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    width: 90vw;
    text-align: center;
    color: rgb(0,0,87);
}