body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: column;     /* stack label and buttons vertically */
  justify-content: center;    /* center vertically */
  align-items: center;        /* center horizontally */
  height: 100vh;              /* fill full screen height */
  background-color: black;
}

#countLabel {
  text-align: center;
  font-size: 5em;
  font-family: Helvetica;
  color: white;
}

#button-container {
  display: flex;
  gap: 15px; /* space between buttons */
  margin-top: 20px;
}

.buttons {
  padding: 10px 20px;
  font-size: 0.5em;
  color: rgb(126, 126, 126);
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition:  0.5s;
}

.buttons:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}


#backBtn{
  position: absolute;
  top: 10px;
  left: 10px;
}

